<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/banco.png" type="image/x-icon">
    <title>Banco UTL</title>
</head>
<body>
    <main class="container">
        <section class="ui">
            <div class="container-left">
          
                <form action="/api/withdrawal" method="post" id="credit-card" >
                    <div class="number-container">
                        <label>Numero de Tarjeta</label>
                        <input type="text" name="N_tarjeta" id="card-number" maxlength="19" placeholder="" class="tarjeta"
                        required
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>
                    <div class="name-container">
                        <label>Banco Emisor</label>
                        <input type="text" name="emisor" id="name-text" maxlength="30" placeholder="BBVA" class="emisor"
                        required
                        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.key == ' '">
                    </div>
                    <div class="infos-container">
                        <div class="expiration-container">
                            <label>Monto</label>
                            <input type="text" name="monto" id="monto" maxlength="6" placeholder="0" class="monto">
                        </div>
                        <div class="cvv-container">
                            <label>NIP</label>
                            <input type="password" name="nip" id="nip" maxlength="4" placeholder="0000" class="nip"
                            required
                            onkeypress="return event.charCode >=48 && event.charCode <= 57">
                        </div>
                    </div>
                    <input  type="submit" value="Retirar" id="add">
                   
                </form>
            </div>
            <div class="container-right">
                <div class="card">
                    <div class="intern">
                        <img class="approximation" src="/img/aprox.png" alt="aproximation">
                        <div class="card-number">
                            
                            <div class="number-vl"></div>
                        </div>
                        <div class="card-holder">
                            <label>Banco Emisor</label>
                            <div class="name-vl"></div>
                        </div>
                        
                        <img class="chip" src="/img/chip.png" alt="chip">
                    </div>
                </div>
            </div>
            
        </section>
    </main>
    <script src="/js/index.js"></script>
    <script src="/js/sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        
        if ('<%= msg %>' == 'Transacción exitosa.') {
             mostrarExito = true;
        }else{
            mostrarExito = false;
        }

        if ('<%= msg %>' == 'No se encontro la cuenta.') {
             busquedaexito = false;
        }else{
            busquedaexito = true;
        }
        
    Swal.fire({
      title: mostrarExito ? '<%= msg %>' :'<%= msg %>' ,
      text: mostrarExito ? '<%= codigo %>' :'<%= codigo %>',
      icon: mostrarExito ? 'success' : busquedaexito ? 'warning': 'question',
      confirmButtonText: 'Continuar'
    });
    </script>
    
   
    

</body>
</html>